<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="application-name" content="vpn-for-web">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPN for Web</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css">
</head>
<body>
    <div class="container">
        {% block container %}{% endblock %}
    </div> <!-- container -->
</body>
</html>
