<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <h3>Profile Config</h3>
    <p>This is the client configuration <em>without</em> the keypair.</p>

    <blockquote><pre>{{ profile_config }}</pre></blockquote>

    {% include 'footer.twig' %}
</body>
</html>
