{% extends "base.twig" %}

{% block header %}
    <h1>VPN for Web</h1>
{% endblock %}
    
{% block container %}

    <h2>Choose your Provider</h2>

    <form method="post" action="home">
        <button type="submit">&lt; Back</button>
    </form>

    <div id="providerList">
        <ul id="chooser">
            {% for key, provider in providerList %}
                <li>
                    <form class="entity" method="post">
                        <button name="provider_id" value="{{ provider.base_uri }}" tabindex="{{ key + 2 }}" class="{{ provider.hostName }}">{{ provider.display_name }}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
