{% extends "base.twig" %}

{% block header %}
        <strong>Error</strong>
{% endblock %}

{% block container %}
    <h2>Error {{ errorCode }}</h2>

    <p>
        {{ errorMessage }}
    </p>
{% endblock %}
