<hr>
<div class="footer">
  <em>OAuth 2.0 Token</em>: scope: <strong>{{ token_info.scope }}</strong>, expires at: <strong>{{ token_info.expires_at|date('Y-m-d H:i:s') }} ({{ date()|date('T')}})</strong>
</div>
