{% extends "base.twig" %}
{% block container %}
    <h2>Choose your Connection Type</h2>
    <form class="discoChooser" method="post" action="setDiscoveryUrl">
        <select name="discoveryUrl">
            {% for discoItem in discoChooser %}
                <option value="{{ discoItem.discoveryUrl }}">
                    {{ discoItem.displayName }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Switch</button>
    </form>
{% endblock %}
