<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p>
        Choose your VPN provider.
    </p>

    <ul>
        {% for item in instances %}
            <li><a href="?instance_id={{ item.base_uri }}">{{ item.display_name }}</a></li>
        {% endfor %}
    </ul>

    {% include 'footer.twig' %}
</body>
</html>
