<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <div class="content">
        <ul class="crumbs">
            <li><a href="index.php">Index</a></li>
            <li><a href="index.php?instance_id={{ instance_id }}">{{ instance_id }}</a></li>
        </ul>

        <h3>Certificate</h3>
        <pre>{{ create_keypair.certificate }}</pre>

        <h3>Private Key</h3>
        <pre>{{ create_keypair.private_key }}</pre>
    </div>

    {% include 'footer.twig' %}
</body>
</html>
