<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}
    <div class="content">

        {% if tokenProviderId %}

            <h2>Choose an Endpoint</h2>
            <p>Click on the desired location to obtain a VPN configuration!</p>

        {% else %}

            <h2>Choose your Home Provider</h2>
            <p>Before you can download a VPN configuration for your chosen VPN endpoint, you first have to select the VPN provider for which you have an account and login there. Typically this is the endpoint located in your organization's country.</p>
            <p>After this, you will be able to choose any VPN endpoint from this list and download the configuration.</p>

        {% endif %}

        <h3>Providers</h3>

        <ul class="chooser">
            {% for provider in providerList %}
                <li><a href="config?provider_id={{ provider.base_uri }}">{{ provider.display_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% include 'footer.twig' %}
</body>
</html>
