header, nav, main {
    max-width: 30em;
    margin: 0 auto;
    padding: 0.5em;
}

a {
    text-decoration: underline;
}

main {
    margin: 1em auto;
}

nav {
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 0.5em;
}

.small {
    font-size: 85%;
}

h3 {
    margin-top: 1em;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

form {
    margin-top: 1em;
}

form input[type="text"], form button {
    margin: 0;
    border: 1px solid #aaa;
    padding: 1em;
    background-color: #fff;
    line-height: 1;
}

form input[type="text"], ul form button, form.home button, form.searchList button {
    width: 100%;
}

div.add {
    text-align: center;
}

form button {
    text-align: start;
}

p {
    text-align: justify;
}

form.add {
    margin-top: 3em;
    font-size: 80%;
    text-align: center;
}

p.plain {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 1em;
    font-style: italic;
}

p.info {
    font-style: italic;
}

ul.profileList {
    margin-bottom: 1em;
}

div.supportContact a {
    text-decoration: none;
}

div.noResults {
    text-align: center;
    color: #888;
    display: none;
}

