body {
    max-width: 30em;
    margin: 0 auto;
    padding: 0.5em;
    text-align: inherit;    /* override for bootstrap-reboot */
}

a {
    text-decoration: underline;
}

h1, h2, h3 {
    margin-top: 1em;
    text-align: center;
}

form.home {
    margin-top: 2em;
}

form.home button {
    width: 100%;
    text-align: start;
    padding: 0.75em 1em;
}

nav {
    text-align: center;
    padding-bottom: 1em;
}

main {
    text-align: justify;
    height: 100%;
}

.mute {
    color: #888;
}

.small {
    font-size: 85%;
}

.center {
    text-align: center;
}

hr {
    margin: 1.5em 0;
}

summary {
    margin: 1em 0;
}

header {
    text-align: end;
}

button {
    padding: 0.3em;
    border: 1px solid #d8d8d8;
    outline: none;
/*    margin: 0.5em 0;*/
    background-color: #f8f8f8;
    color: #777;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0.1em 0;
}

ul li button {
    width: 100%;
    text-align: start;
    padding: 0.75em 1em;
    margin: 0;
}

p.plain {
    border: 1px solid gray;
    padding: 1em;
    width: 100%;
    color: #777;
    background-color: #f8f8f8;
}

p {
    margin-top: 0;
}

p.warning {
    border: 1px solid orange;
    padding: 1em;
    width: 100%;
    color: orange;
}

p.warning::before {
    content: "⚠️"
}

p.success {
    border: 1px solid darkgreen;
    padding: 1em;
    width: 100%;
    color: darkgreen;
}

p.success::before {
    content: "✔️"
}

summary {
    margin-bottom: 1em;
}

footer {
    margin-top: 2em;
    font-size: 75%;
    text-align: center;
}

div.add {
    text-align: center;
}

table.tbl {
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

table.tbl ul {
    margin: 0;
    padding: 0 0 0 1em;
}

table.tbl thead tr {
    background-color: #f8f8f8;
    color: #555;
}

table.tbl tbody th {
    vertical-align: top;
}

table.tbl td, table.tbl th {
    padding: 0.8em 0.5em;
}

table.tbl tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

table.tbl button, table.tbl form {
    margin: 0;
}

fieldset {
    margin: 1em 0;
}

label {
    font-weight: bold;
}

select {
    display: block;
    margin-top: 0.5em;
}

.right {
    text-align: right;
}
