<?php

return [
    // enable Twig template cache
    'enableTemplateCache' => false,

    // URL containing list of VPN providers
    'providerListUri' => 'https://static.eduvpn.nl/federation.json',
    // Public key used to sign the list of VPN providers
    'providerListPublicKey' => 'E5On0JTtyUVZmcWd+I/FXRm32nSq8R2ioyW7dcu/U88=',

    // OAuth Client Configuration
    'OAuth' => [
        'clientId' => 'eduvpn-for-web',
        'requestScope' => 'config',
    ],
];
