<?php

return [
    // enable Twig template cache
    'enableTemplateCache' => true,

    // URL to list of instances supporting the VPN Token Service
    'instanceListUri' => 'https://static.eduvpn.nl/instances.json',

    // OAuth Client Configuration
    'clientConfig' => [
        'client_id' => 'eduvpn-for-web',
        'client_secret' => 'foo_bar_baz',
    ],

    // the public key(s) to verify "instances.json" for instance discovery
    'publicKeys' => [
        'E5On0JTtyUVZmcWd+I/FXRm32nSq8R2ioyW7dcu/U88=',
    ],
];
